.photos-gallery-container-overflow {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 50vh;
  max-height: 350px;
  max-width: 100%;
}

.photos-gallery-container {
  width: 201.5vw;
  height: 100%;
}

.photos-gallery-image-container {
  width: 49.75vw;
  max-width: 49.75vw;
  display: inline-block;
  margin-right: 0.5%;
  vertical-align: top;
  height: 100%;
  text-align: center;
  background-color: black;
}

.photos-gallery-image-container-no-margin {
  width: 49.233vw;
  max-width: 49.233vw;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  text-align: center;
  background-color: black;
}

.photos-gallery-image {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
}

.photos-gallery-left-scroll-button {
  position: absolute;
  top: 145px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lightslategray;
  outline: none;
  border: none;
  color: white;
  border-radius: 25px;
  font-size: 36px;
  cursor: pointer;
  display: initial;
}

.photos-gallery-right-scroll-button {
  position: absolute;
  top: 145px;
  right: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lightslategray;
  outline: none;
  border: none;
  color: white;
  border-radius: 25px;
  font-size: 36px;
  cursor: pointer;
  display: initial;
}

.photos-gallery-left-scroll-button:hover {
  background-color: rgb(164, 170, 177);
}

.photos-gallery-right-scroll-button:hover {
  background-color: rgb(164, 170, 177);
}

@media (max-width: 661px) {
  .photos-gallery-container-overflow {
    overflow-x: hidden;
    max-height: 264px;
    height: 100%;
    max-width: 100%;
  }

  .photos-gallery-container {
    width: 100%;
    height: 100%;
  }

  .photos-gallery-image-container {
    width: 100%;
    height: 264px;
    text-align: center;
    display: block;
    max-width: none;
  }

  .photos-gallery-image {
    width: 100%;
    height: 264px;
  }

  .photos-gallery-left-scroll-button {
    display: none;
  }

  .photos-gallery-right-scroll-button {
    display: none;
  }
}

