/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.header {
    color: black;
    font-weight: 600;
    margin-left: 2rem 3rem;
}

.grid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.grid > div {
    flex-basis: calc(50% - 1rem);
}

  