.list-page-container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
}

.list-page-main-title {
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
  text-align: left;
}

.list-page-results-container {
  margin-top: 10px;
}

.list-page-load-more {
  text-align: center;
  margin-top: 40px;
}

.list-page-load-more-button {
  background-color: green;
  color: white;
  font-size: 12px;
  margin-left: 5px;
  height: 31px;
  box-sizing: border-box;
  border-color: green;
  border-radius: 3px;
  outline: none;
  border-style: none;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
}

.list-page-load-more-button:hover {
  cursor: pointer;
  background-color: #53A242;
}

@media (max-width: 661px) {
  .list-page-main-title {
    text-align: center;
  }
}
