.price-label-container {
  position: absolute;
  top: 114px;
}

.price-label-text {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  font-size: 21px;
  font-family: calibri;
  color: darkslategray;
}

.price-label-box {
  font-size: 13px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
  color: gray;
  font-weight: bold;
}

.price-label-stars-container {
  display: inline-block;
}

.price-label-stars {
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}

@media (max-width: 661px) {
  .price-label-container {
    position: initial;
  }

  .price-label-text {
    font-size: 21px;
  }

  .price-label-box {
    font-size: 13px;
    margin-left: 5px;
  }
}

@media (min-width: 1181px) {
  .price-label-container {
    top: 129px;
  }
}