.list-card-container {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 50%;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.list-card-container:hover {
  cursor: pointer;
  box-shadow: 0px 10px 10px #ccc;
}

.list-card-column {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
  min-height: 168px;
  vertical-align: bottom;
}

.list-card-info-details-column {
  vertical-align: top;
  text-align: left;
  padding: 5px;
  font-size: 10.5px;
}

.list-card-info-type {
  margin: 0px;
  font-weight: bold;
  color: gray;
}

.list-card-info-name {
  margin: 0px;
  font-weight: bold;
  color: black;
}

.list-card-image {
  width: 22vw;
  height: 15vw;
  max-height: 168px;
  max-width: 303px;
  border: solid 1px lightgray;
}

@media (max-width: 661px) {
  .list-card-container {
    width: 100%;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .list-card-column {
    width: 100%;
    display: block;
    min-height: auto;
  }

  .list-card-image {
    width: 100%;
    max-width: none;
    height: auto;
    max-height: none;
  }

  .list-card-info-details-column {
    padding: 0px;
    margin-top: 10px;
    font-size: 12px;
    margin-top: 5px;
    height: auto;
    min-height: none;
  }

}

@media (min-width: 764px) {
  .list-card-info-details-column {
    padding: 10px;
    font-size: 12px;
  }
}
