.search-filter-container {
  text-align: left;
}

.search-filter-title {
  margin: 0px;
  margin-top: 20px;
  font-size: 15px;
}

.search-filter-input {
  margin-top: 10px;
  height: 30px;
  width: 70%;
  box-sizing: border-box;
  margin-left: 1px;
  max-width: 350px;
}

.search-filter-button {
  background-color: green;
  color: white;
  font-size: 12px;
  margin-left: 5px;
  height: 31px;
  box-sizing: border-box;
  border-color: green;
  border-radius: 3px;
  outline: none;
  border-style: none;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
}

.search-filter-button:hover {
  cursor: pointer;
  background-color: #53A242;
}