.search-filter-container {
  text-align: left;
}

.search-filter-title {
  margin: 0px;
  margin-top: 20px;
  font-size: 15px;
}

.search-filter-input {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  margin-left: 1px;
  max-width: 474px;
  border-radius: 4px;
  font-size: 17px;
  border: solid 1px gray;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}

.search-filter-button {
  width: 100px;
  height: 50px;
  font-size: 13px;
  margin-left: 5px;
  border-radius: 4px;
  background-color: green;
  color: white;
  border-color: green;
  outline: none;
  border-style: none;
  display: inline-block;
  vertical-align: bottom;
  box-sizing: border-box;
}

.search-filter-button:hover {
  cursor: pointer;
  background-color: #53A242;
}

@media (max-width: 661px) {
  .search-filter-input {
    margin-left: 0px;
    max-width: initial;
    width: 66.5vw;
  }

  .search-filter-button {
    width: 19vw;
    margin-left: 1vw;
  }
}
