.info-details-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  text-align: left;
}

.info-details-type {
  margin: 0px;
  color: gray;
  font-weight: bold;
  font-size: 15px;
  font-family: calibri;
}

.info-details-name {
  margin: 0px;
  color: darkslategray;
  font-size: 25px;
  font-weight: bold;
  font-family: calibri;
}

.info-details-titles-container {
  display: inline-block;
  width: 70%;
  padding-left: 0px;
}

.info-details-price-container {
  display: inline-block;
  width: 30%;
}

.info-details-price-label {
  width: 60px;
  height: 60px;
  font-weight: bold;
  color: white;
  background-color: green;
  border-radius: 50%;
  line-height: 56px;
  margin: 0px;
  padding: 10px;
  position: initial;
  font-size: 13px;
  text-align: center;
}

.info-details-avatar-container {
  margin-top: 10px;
}

.info-details-avatar-image {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  object-fit: cover;
}

.info-details-avatar-name {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  margin-left: 15px;
  font-weight: bold;
  font-family: calibri;
}

@media(max-width: 661px) {
  .info-details-container {
    margin-top: 30px;
    padding-left: 7%;
    padding-right: 7%;
  }

  .info-details-price-label {
    position: absolute;
    top: 226px;
    right: 20px;
    font-size: 17px;
  }

  .info-details-name {
    font-size: 22px;
  }

  .info-details-type {
    font-size: 19px;
  }

  .info-details-avatar-image {
    width: 65px;
    height: 65px;
  }

  .info-details-avatar-name {
    font-size: 25px;
  }

  .info-details-titles-container {
    padding-left: 7px;
  }
}
